sudo apt-get install libsoup2.4-1
sudo apt-get install libwayland-server0
sudo apt-get install libwayland-egl1
sudo apt-get install libwayland-client0
sudo apt-get install libxkbcommon0
sudo apt-get install libcairo2
sudo apt-get install libharfbuzz0b
sudo apt-get install libharfbuzz-icu0
sudo apt-get install libvpx7
sudo apt-get install libevent-2.1-7
sudo apt-get install libopus0
sudo apt-get install  liblcms2-2
sudo apt-get install libwoff1
sudo apt-get install libgstreamer-plugins-base1.0-0
sudo apt-get install libgstreamer-gl1.0-0
sudo apt-get install libopenjp2-7
sudo apt-get install libwebpdemux2
sudo apt-get install libgbm1
sudo apt-get install libgles2
sudo apt-get install gstreamer1.0-libav